/*
    CSS for the header module.
    Do not leave file empty.
*/

@font-face {
    font-family:myFirstFont;
    src: url(LobsterTwo-BoldItalic.otf);
    
}


h1 {
    font-family:myFirstFont;
    color: dodgerblue;
    font-size:35px;
}